/**
 * Main style file for project.
 * Uses SASS, specifically the SCSS syntax
 * http://sass-lang.com/
 */


// Include strib-icons
$strib-fonts-location: '//static.startribune.com/assets/libs/strib-icons/0.0.10/';
@import '@striblab/strib-icons/build/strib-icons.scss';


// Environment noting
@import "shared/_environment";

// Strib styles
// https://github.com/striblab/strib-styles/blob/master/source/styles/_variables.scss

// Assumed that this project lives within an existing page, so we add a
// wrapper that is very specific and wrap our other styles in it so
// that we don't affect other styles on the page.  Note that
// this increases the CSS size, and it means strib-styles won't use
// rems when it would otherwise.
$selector-wrapper: '.strib-styles.ssa.ssb.ssc';
@import '@striblab/strib-styles/source/styles/default-wrapper.scss';

// Project specific styles.  Split styles into files per component
#{$selector-wrapper} {
  // Split your styles into multiple files so its easier to understand and change
  @import 'shared/_project';
}

.slide {
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  width:520px !important;

  .bottom {
    margin-bottom:0px;
  }
}

.legend {
  text-align:center;
}

.space {
  margin-bottom:15px;
}

.topper a {
  color:#333333 !important;
  text-decoration:none !important;
}

.adjacent {
  display:inline-block;
  width:45%;
  margin-right:15px;
  height:250px;
}

.datalabel {
  margin-bottom:10px;
}

.elexLogo img {
  width: 50px;
}

.elexLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
}

.d3-tooltip, #d3-tooltip-0, .thisTip, .tooltip {
  display:none;
  font-family: "Benton Sans", Helvetica, Arial, sans-serif;
  background-color: #ffffff !important;
  height: auto !important;
  width: auto !important;
  padding: 10px !important;
  opacity:1 !important;
  border-radius: 0 !important;
  border: 1px solid #000000 !important;
  font-size: 13px !important;
}

#d3-tooltip-0 .legendary {
  padding:4px;
  font-weight:bold;
  border-radius: 5px;
  padding: 0 7px;
  margin-bottom: 3px;
}